{% extends "base.html" %}

{% block title %}{{course.title}}{% endblock %}

{% block content %}
<tbody>
	<div class="container mt-5">
	 <div class="card" style="width: 18rem; margin: 0 auto ">
		<div class="card-body">
		  <h5 class="card-title">{{course.title}}</h5>
		  <h6 class="card-subtitle mb-2 text-body-secondary">{{course.category}}</h6>
		  <p class="card-text">Price: {{course.price}}</p>
		  <p class="card-text">Student Quantity: {{course.students_qty}}</p>
		  <a href="#" class="card-link"><button class="btn btn-primary">Buy</button></a>		  
		</div>
	 </div>
	</div>
</tbody>

{% endblock %}